---
layout: default
---

<!-- Page Header -->
{% if page.background %}
<header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
  {% else %}
  <header class="masthead">
    {% endif %}
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>{{ site.title }}</h1>
            {% if site.description %}
            <span class="subheading">{{ site.description }}</span>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

        {{ content }} -->

        <!-- Home Post List -->
        <!-- {% for post in site.posts limit : 5 %}

        <article class="post-preview">
          <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
            <h2 class="post-title">{{ post.title }}</h2>
            {% if post.subtitle %}
            <h3 class="post-subtitle">{{ post.subtitle }}</h3>
            {% else %}
            <h3 class="post-subtitle">{{ post.excerpt | strip_html | truncatewords: 15 }}</h3>
            {% endif %}
          </a>
          <p class="post-meta">Posted by
            {% if post.author %}
            {{ post.author }}
            {% else %}
            {{ site.author }}
            {% endif %}
            on
            {{ post.date | date: '%B %d, %Y' }} &middot; {% include read_time.html content=post.content %}            
          </p>
        </article>

        <hr>

        {% endfor %} -->

        <!-- Pager -->
        <!-- <div class="clearfix">
          <a class="btn btn-primary float-right" href="{{"/posts" | relative_url }}">View All Posts &rarr;</a>
        </div>

      </div>
    </div>
  </div> -->

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="col-lg-12 text-center">
          <h1>About Me</h1>
          <!-- <h2 class="section-subheading text-muted">Here are some of the projects that I've worked on.</h2> -->
        </div>
        <h3>The business...</h3><p></p>
        I am a full stack Data Scientist and Machine Learning Engineer with hands-on multi-cloud experience. I specialize in 
        designing & implementing Data and Machine Learning solutions on the Cloud.
        <br>
        <br>
        <dl>
          <dt>Machine Learning</dt>
          <dd>
            Model Building, Linear/Nonlinear Regression, Prediction, Hypothesis Testing, Classification, Clustering, 
            Deep Learning (CNN, RNN, LSTM), Natural Language Processing and Data Visualization
            <br>I hold the <i>AWS Certified - Machine Learning Specialty</i> certification.
          </dd>
          
          <dt>
            Data Engineering
          </dt>
          <dd>
            Relational database management, noSQL paradigms, lambda architecture, Hadoop ecosystem, Spark and data 
            warehousing.<br>I hold the <i>AWS Certified - Big Data Specialty</i> certification.
          </dd>

          <dt>
            Cloud based Data Solutions
          </dt>
          <dd>
            I design, architect and build end-to-end data solutions on the cloud. I have worked on the 3 big cloud platforms: 
            Amazon Web Services, Google Cloud Platform, and Microsoft Azure, and have delivered many Machine Learning projects 
            on them. For more details on my projects, check out my Portfolio page. 
          </dd>

          <dt>
            Trainings and mentorship
          </dt>
          <dd>
            I have led and delivered multiple training in-house for developing Data Science and Data Engineering skill-sets
            , especially on the Cloud.
            <br>Other than that, I have successfully designed and delivered formal training for the Azure Data Scientist 
            Associate certification exam (DP-100) to classes of ~40-50 students.
          </dd>

        </dl>

        <h3>... and the pleasure</h3><p></p>
        <dl>
          <dt>Fitness</dt>
          <dd>
            I am passionate about fitness, specifically Powerlifting. I have built a home gym to continue my own strength 
            training. Since I'm an Engineer, I took the liberty of designing my own squat-rack, and had it custom 
            manufactured.
          </dd>
          
          <dt>
            Music
          </dt>
          <dd>
            If there is one thing I love to do, it's singing. I also play the guitar well enough to accompany myself. If you 
            add me on social media, you'll find song covers often. I am also a novice level violinist and drummer.
          </dd>

          <dt>
            Polyglotism
          </dt>
          <dd>
            Having grown up in a trilingual environment, I have always been fascinated with the idea of being a hyperpolyglot.
            You'll find me periodically taking my language training very seriously; Duolingo is my idea of a time-killer. 
            In European languages, I've delved into Spanish, German, French, and Dutch. From the far eastern languages, I have
            tried learning Japanese and Korean. Other than that, I know a bit of Arabic and Persian (enough to enjoy basic poetry). 
          </dd>

          <dt>
            Poetry
          </dt>
          <dd>
            I'm a Rumi fan, and always go for the original Farsi (Persian) text when reading Rumi. Faiz Ahmed Faiz' poetry is also 
            quite close to my heart.
          </dd>

          <dt>
            Reading
          </dt>
          <dd>
            Nassim N. Taleb, Jeffrey Archer, J.K. Rowling, Christopher Paolini. Enough said...!
          </dd>

        </dl>
        

      </div>
    </div>
  </div>
